<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friend: <%= addUser["name"] %> | ATC</title>
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
</head>
<body>
    <h1 class="text-center fs30 color-red">Not yet implemented.</h1>
    <h1 class="text-center fs20 color-grey m20">You tried to add:</h1>

    <div class="container">
        <div class="inner-container">
            <img src="<%= addUser["pfp"] %>" alt="" style="height: 100px">
            <p class="text-center fs15 color-green">userID: <%= addUser["id"] %></p>
            <p class="text-center fs15 color-green">Name: <%= addUser["name"] %></p>
            <p class="text-center fs15 color-green">Username: <%= addUser["username"] %></p>
        </div>
    </div>
</body>
</html>