<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Play | ATC</title>
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="stylesheet" href="/private/css/library.css">
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
</head>
<body>
    <%- include('navbar.ejs') -%>
    <span style="display: none;" id="pfp-ejs"><%= user["pfp"] %></span>
    <%_ if(message) { %>
        <%_ if(message == 'access_denied') { %>
            <p class="text-center color-red fs20">You do not have permision to access the requested page</p>
        <%_ } %>
        <%_ if(message == 'success') { %>
            <p class="text-center color-green fs20">You successfully completed the requested action.</p>
        <%_ } %>
    <%_ } %>
    <section id="library" class="vw80">
        <div class="quick-actions">
            <a class="level-nav" href="#" id="link-library">Library</a>
            <%_ if(user.best_played != null || user.last_played != null) { %>
                <a class="level-nav" href="#" id="link-quick-play">Quick Play</a>
            <%_ } %>
        </div>
        <div class="container" id="quick-play-ui">
            <%_ if(user.best_played != null || user.last_played != null) { %>
                <h1 class="fs30 text-center m20">Quick Play</h1>
                <div id="quick-play-desc">
                    <%_ if(user.best_played == user.last_played) { %>
                        <p class="text-center fs20">Best & Last Played</p>
                    <%_ } else { %>
                        <%_ if(user.best_played != null) { %>
                            <p class="text-center fs20">Best Played</p>
                        <%_ } %>
    
                        <%_ if(user.last_played != null) { %>
                            <p class="text-center fs20">Last Played</p>
                        <%_ } %>
                    <%_ } %>
                </div>
                <div id="quick-play" class="levels m10">
                    <%_ for(let level = 0; level < levels.length; level++) { %>
                        <%_ if(user.best_played == user.last_played && levels[level]["airport_name"] == user.best_played) { %>
                            <div id="quick-play-best" class="w85" style="background-image: url('<%= levels[level]["image_reference"] %>'); background-position: cover;">
                                <a href="/level?name=<%= levels[level]["airport_name"] %>&type=detailed" id="best-played-link" class="quick-play-child">
                                    <h2><%= user.best_played %></h2>
                                </a>
                            </div>
                        <%_ } else { %>
                            <%_ if(user.best_played != null && levels[level]["airport_name"] == user.best_played) { %>
                                <div id="quick-play-best" class="w85" style="background-image: url('<%= levels[level]["image_reference"] %>'); background-position: cover;">
                                    <a href="/level?name=<%= levels[level]["airport_name"] %>&type=detailed" id="best-played-link" class="quick-play-child">
                                        <h2><%= user.best_played %></h2>
                                    </a>
                                </div>
                            <%_ } %>
                            <%_ if(user.last_played != null && levels[level]["airport_name"] == user.last_played) { %>
                                <div id="quick-play-last" class="w85" style="background-image: url('<%= levels[level]["image_reference"] %>'); background-position: cover;">
                                    <a href="/level?name=<%= levels[level]["airport_name"] %>&type=detailed" id="last-played-link" class="quick-play-child">
                                        <h2><%= user.last_played %></h2>
                                    </a>
                                </div>
                            <%_ } %>
                        <%_ } %>
                    <%_ } %>
                </div>
                <%_ } %>
        </div>
        <div class="container" id="lib-ui" style="display: none;">
            <h1 class="fs30 m20 text-center">Library</h1>
            <div id="levels" class="levels m10">
                <%_ for(let level = 0; level < levels.length; level++) { %>
                    <div class="level-wrapper" style="background-image: url('<%= levels[level]["image_reference"] %>');">
                        <a href="/level?name=<%= levels[level]["airport_name"] %>&type=detailed" class="child" style="width:100%;" id="<%= levels[level]["airport_name"] %>"><h2 class="background-filter"><%= levels[level]["airport_name"] %></h2></a>
                    </div>
                <%_ } %>
            </div>
        </div>
        <!-- <div class="sep" style="width: 90%;"></div>
        <div class="container">
            <h1 class="fs23 m20 text-center">Extras</h1>
            <a href="/create"><h2 class="m20 fs20 text-center">Make a new layout</h2></a>
        </div> -->
    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        $('#link-library').bind('click', () => {
            $('#link-quick-play').css('background-color', 'black')

            $('#link-quick-play').css('color', 'white')
            $('#quick-play-ui').css('display', 'none')

            $('#link-library').css('background-color', 'white')
            $('#link-library').css('color', 'black')
            $('#lib-ui').css('display', 'block')

            $(document).prop('title', `Library | ATC`)
        })

        $('#link-quick-play').bind('click', () => {
            $('#link-quick-play').css('background-color', 'white')
            $('#link-quick-play').css('color', 'black')
            $('#quick-play-ui').css('display', 'block')

            $('#link-library').css('background-color', 'black')
            $('#link-library').css('color', 'white')

            $('#lib-ui').css('display', 'none')

            $(document).prop('title', `Quick Play | ATC`)
        })

        if( $('#last-played-level').text() == '' && $('#best-played-level').text() == '') {
            $('#quick-play-ui').css('display', 'none')
            $('#lib-ui').css('display', 'block')
        }

        if( $('#quick-play').children().length < 2 ) {
            $('#quick-play').css('grid-template-columns', '100%')
        } else {
            $('#quick-play').css('grid-template-columns', '50% 50%')
        }

        // $(`#best-played-link`).attr("href", `/level?${CryptoJS.AES.encrypt( $('#best-played-level').text() , "level")}&${CryptoJS.AES.encrypt("0", "status-message")}`)
        // $(`#last-played-link`).attr("href", `/level?${CryptoJS.AES.encrypt( $('#last-played-level').text() , "level")}&${CryptoJS.AES.encrypt("1", "status-message")}`)
    </script>
</body>
</html>