<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/private/css/framework.css">
    <link rel="stylesheet" href="/private/css/boards.css">
    <link rel="stylesheet" href="/private/css/profile.css">
    <link rel="stylesheet" href="/private/css/library.css">
    <link rel="shortcut icon" href="/private/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= load_user.name.split(' ')[0] %>'s Profile | ATC</title>
</head>
<body>
    <span id="user-id" style="display: none;"><%= load_user.id %></span>
    <span id="current-id" style="display: none;"><%= current_user.id %></span>
    <span id="title-prop" style="display: none;"><%= load_user.name.split(' ')[0] %></span>
    <span id="prfile-pic" style="display: none;"><%= load_user.pfp %></span>

    <%_ if(load_user.last_played != '' ) { %>
        <span id="last-play" style="display: none;"><%= load_user.last_played %></span>
    <%_ } %>
    <%_ if(last != undefined ) { %>
        <span id="last-play-img" style="display: none;"><%= last.image_reference %></span> 
    <%_ } %>
    <%_ if(best != undefined ) { %>
        <span id="best-play-img" style="display: none;"><%= best.image_reference %></span> 
    <%_ } %>
    <%_ if (load_user.best_played != '') { %>
        <span id="best-play" style="display: none;"><%= load_user.best_played %></span>
    <%_ } %>
    <%_ if(JSON.stringify(leaderboard_entry) != "[]") { %>
        <span id="leaderboard-img" style="display: none;"> <%= leaderboard_entry[0].image_reference %> </span>
    <%_ } %>

    <%- include('navbar.ejs') -%>

    <%_ if(message == 'success') { %>
        <h2 class="fs15 color-green text-center">Your request was a success!</h2>
    <%_ } %>
    <%_ if(message == 'fail') { %>
        <h2 class="fs15 color-red text-center">Your request failed. Try again.</h2>
    <%_ } %>
    <%_ if(load_user["id"] == current_user.id) { %>
        <h1 class="text-center fs30 m20">Your Account</h1>
    <%_ } %>
    <div class="quick-actions" style="margin-top: 20px;">
        <a class="level-nav" href="#" id="link-profile">Profile</a>
        <%_ if(JSON.stringify(history) != "[]") { %>
            <a class="level-nav" href="#" id="link-history">History</a>
        <%_ } else { %>
            <a class="level-nav" href="#" style="background-color: rgb(0, 0, 0); color: rgb(159, 4, 4); cursor: not-allowed;" title="<%= load_user.name.split(' ')[0] %> has no history">History</a>
        <%_ } %>
        
        <a class="level-nav" href="#" id="link-friends">Friends</a>
    </div>
    <section id="profile" class="container w85" style="margin: 20px auto auto auto; padding: 0px;">
        <div style="background-image: url('<%= load_user.pfp %>'); background-size: 100%; background-repeat: no-repeat; width: 100%; padding: 0px;">
            <div style="background-color: rgba(20,20,20,0.4);">
                <%_ if(JSON.stringify(leaderboard_entry) != "[]") { %>
                    <div class="leaderboard-entry text-center flex" id="leaderboard-pane">
                        <h1 class="fs15 text-center p20" id="leaderboard-profile-text">Leaderboard: 
                            <%= JSON.stringify(leaderboard_entry[0].level).replace(/['"]+/g, '') %> 
                            | Points: 
                            <%= JSON.stringify(leaderboard_entry[0].score) %></h1>
                    </div>
                    <span id="leaderboard-level" style="display: none;"><%= JSON.stringify(leaderboard_entry[0].level).replace(/['"]+/g, '').toLowerCase() %></span>
                <%_ } else { %>
                    <div class="leaderboard-entry-none text-center grid" style="background-image: url('/private/images/logo.png'); background-repeat: no-repeat; background-size: cover;">
                        <h1 class="fs15 text-center p20" id="leaderboard-profile-text">
                            <div class="p20 grid fs15">
                                <%_ if(current_user.id == load_user["id"]) { %>
                                    You aren't
                                <%_ } else { %>
                                    <%= load_user.name.split(' ')[0] %> isn't
                                <%_ } %>
                                on the leaderboard
                                <%_ if(leaderboard_length >= 3 && current_user["leaderboard_attempt"] != undefined && load_user["id"] == current_user["id"]) { %>
                                        <p class="text-center fs20 color-red">You cannot add your stored entry to the leaderboard.</p>
                                        <p class="text-center fs15 color-grey">Reason: there is already max entries there.</p>
                                        <%_ } %>
                                <%_ if(load_user["id"] == current_user["id"] && current_user["leaderboard_attempt"] != undefined && JSON.stringify(leaderboard_entry) == "[]" && leaderboard_length < 3) { %>
                                        <button><a href="/add_temp_leaderboard" class="fs15 text-center color-green w85" style="white-space: nowrap; width: 95%;">Add your last leaderboard entry here </a></button>
                                <%_ } %>
                            </div>
                        </h1>
                    </div>
                <%_ } %>
                <div id="profile-details">
                    <div class="wrapper-top">
                        <div class="profile-container profile-details">
                            <div class="pfp-container">
                                <img src="<%= load_user.pfp %>" class="profile-img" alt="pfp">
                            </div>
                            <%_ if(load_user.id == current_user.id) { %>
                                <div id="pfp-edit">
                                    <a href="#" id="link-change-pfp" class="fs15 text-center">Edit Picture</a>
                                    <div id="form-container-x" style="display: none;">
                                        <form action="change_pfp" method="POST" id="form-change-pfp" style="margin: 0px;">
                                            <input type="url" name="url" placeholder="Link" class="fs15 text-center color-black">
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            <%_ } %>
                            <div class="user-details m10">
                                <h1 class="text-center fs20 m-atuo overflow-scroll"><%= load_user.name %></h1>
                                <p class="text-center fs15 m-auto overflow-scroll"><%= load_user.username %></p>
                                <%_ if(load_user["id"] == current_user.id) { %>
                                    <button class="text-center"><a href="/logout" class="fs15">Log out</a></button>
                                <%_ } %>
                            </div>
                        </div>
                        <div class="profile-container profile-details">
                                <%_ if(last) {%>
                                    <div class="played-details m10" id="profile-last-played" style="background-image: url('<%= last.image_reference %>');">
                                        <h1 class="text-center fs15 p30 blur-background-80-black" id="profile-last-played-title">Last Played: <%= last.level %></h1>
                                    </div>
                                <%_ } else { %>
                                    <div class="played-details m10" id="profile-last-played" style="background-image: url('/private/images/logo.png');">
                                        <h1 class="text-center fs15 p30 blur-background-80-black" id="profile-last-played-title">Played last will go here.</h1>
                                    </div>
                                <%_ } %>
                                <%_ if(best) {%>
                                    <div class="played-details m10" id="profile-last-played" style="background-image: url('<%= best.image_reference %>');">
                                        <h1 class="text-center fs15 p30 blur-background-80-black" id="profile-last-played-title">Best Played: <%= best.level %></h1>
                                    </div>
                                <%_ } else { %>
                                    <div class="played-details m10" id="profile-best-played" style="background-image: url('/private/images/logo.png');">
                                        <h1 class="text-center fs15 p30 blur-background-80-black" id="profile-best-played-title">Played best will go here.</h1>
                                    </div>
                                <%_ } %>
                            <div class="flex">
                                <%_ if(load_user.best_played != null && load_user["id"] == current_user.id) { %>
                                    <button class="text-center m10" id="btn-remove-best"><a href="/remove_best_played" class="fs15 text-center">Remove Best Played</a></button>
                                <%_ } %>
                                <%_ if(load_user.last_played != null && load_user["id"] == current_user.id) { %>
                                    <button class="text-center m10" id="btn-remove-last"><a href="/remove_last_played" class="fs15 text-center">Remove Last Played</a></button>
                                <%_ } %>
                            </div>
                        </div>
                    </div>
                    <%_ if(load_user["id"] == current_user.id && (JSON.stringify(history) != "[]" || JSON.stringify(leaderboard_entry != "[]"))) { %>
                        <div class="flex">
                            <%_ if(JSON.stringify(history) != "[]") { %>
                                <button class="text-center m10" id="delete-history">
                                    <a href="/delete_history" class="fs15 text-center color-red">
                                        Delete All History (re-login required)
                                    </a>
                                </button>
                            <%_ } %>
                            <%_ if(JSON.stringify(leaderboard_entry) != "[]") { %>
                                <button class="text-center m10" id="delete-leaderboard">
                                    <a href="/delete_leaderboard?id=<%= leaderboard_entry["id"] %>" class="fs15 text-center color-red">
                                    Delete Leaderboard Entry (re-login required)
                                    </a>
                                </button>
                            <%_ } %>
                        </div>
                    <%_ } %>
                </div>
                <div class="grid text-center" id="profile-history" style="display: none;">                
                    <div class="profile-container" id="user-history">
                        <%_ if(JSON.stringify(history) != "[]") { %>
                            <h1 class="m10 fs20 text-center"><%= load_user.name.split(' ')[0] %>'s history</h1>
                            <div class="sep"></div>
                            <table id="entries">
                                <tr class="fs20 m20" id="table-header">
                                    <%_ for(let index in id_types) { %>
                                        <th class="fs20 m20"><%= `${id_types[index]}` %></th>
                                    <%_ } %>
                                </tr>
                                <%_ for(let x = 0; x < history.length; x++) { %>
                                    <tr class="fs20 m20" id="<%= `entry-${ x + 1 }` %>">
                                        <td class="fs20 m20" id="<%= `level` %>"><%= JSON.stringify(history[x].level).replace(/['"]+/g, '') %></td>
                                        <td class="fs20 m20" id="<%= `date` %>"><%= JSON.stringify(history[x].date).replace(/['"]+/g, '') %></td>
                                        <td class="fs20 m20" id="<%= `score` %>"><%= JSON.stringify(history[x].score).replace(/['"]+/g, '') %></td>
                                    </tr>
                                <%_ } %>
                            </table>
                        <%_ } else { %>
                            <%_ if(current_user.id == load_user["id"]) { %>
                                <p class="fs20 m20">You have no history.</p>
                            <%_ } else { %>
                                <p class="fs20 m20"><%= load_user.name.split(' ')[0] %> has no history.</p>
                            <%_ }  %>
                        <%_ }  %>
                    </div>
                </div>
                <div class="grid text-center" id="profile-friends" style="display: none;">                
                    <div class="profile-container" id="user-friends">
                        <%_ if(load_user["id"] == current_user.id) { %>
                            <%_ if(followers.length == 0 && requested_followers.length == 0 && follower_requests.length == 0 && following.length == 0) { %>
                                <h1 class="fs20 color-white text-center">Nothing to see here :(</h1>
                                <i class="fa-eyes"></i>
                            <%_ } else { %>
                                <h1 class="fs25 color-white text-center">Follower Information</h1>
                                <div class="sep"></div>
                                <%_ if(requested_followers.length > 0) { %>
                                    <table id="entries">
                                        <h1 class="m10 fs20 text-center">Sent Requests</h1>
                                        <tr class="fs20 m20" id="table-header">
                                            <th class="fs20 m20">User</th>
                                            <th class="fs20 m20">Date Sent</th>
                                        </tr>
                                        <%_ for(let x = 0; x < requested_followers.length; x++) { %>
                                            <tr class="fs20 m20" id="<%= `entry-${ x + 1 }` %>">
                                                <td class="fs20 m20 form-search" id="<%= `level` %>">
                                                    <div class="flex">
                                                        <img src="<%= requested_followers[x].pfp %>" />
                                                        <div class="grid">
                                                            <p class="fs15"><%= requested_followers[x].name %></p>
                                                            <p class="fs15"><%= requested_followers[x].username %></p>
                                                        </div>
                                                        <a href="/remove_friend?active=<%= requested_followers[x].lead_user %>&passive=<%= requested_followers[x].passive_user %>" class="fs20 m10 color-red">X</a>
                                                    </div>
                                                </td>
                                                <td class="fs20 m20">
                                                    <p class="fs20 color-white"><%= requested_followers[x].status %></p>
                                                    <p class="fs15 color-grey"><%= requested_followers[x].creation_date %></p>
                                                </td>
                                            </tr>
                                        <%_ } %>
                                    </table>
                                <%_ } %>
                                <%_ if(load_user["id"] == current_user.id) { %>
                                    <%_ if(follower_requests.length > 0) { %>
                                        <table>
                                            <h1 class="m10 fs20 text-center">Recieved Requests</h1>
                                            <tr class="fs20 m20" id="table-header">
                                                <th class="fs20 m20">User</th>
                                                <th class="fs20 m20">Date Sent</th>
                                            </tr>
                                            <%_ for(let x = 0; x < follower_requests.length; x++) { %>
                                                <tr class="fs20 m20" id="<%= `entry-${ x + 1 }` %>">
                                                    <td class="fs20 m20 form-search" id="<%= `level` %>">
                                                        <div class="flex">
                                                            <img src="<%= follower_requests[x].pfp %>" />
                                                            <div class="grid">
                                                                <p class="fs15"><%= follower_requests[x].name %></p>
                                                                <p class="fs15"><%= follower_requests[x].username %></p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="fs20 m20">
                                                        <a href="/accept_friend?active=<%= follower_requests[x].lead_user %>&passive=<%= follower_requests[x].passive_user %>" class="m10 fs20 text-center">Accept</a>
                                                        <p class="fs15 color-grey"><%= follower_requests[x].creation_date %></p>
                                                    </td>
                                                </tr>
                                            <%_ } %>
                                        </table>
                                    <%_ }  %>
                                <%_ } %>
                                <%_ if(followers.length > 0) { %>
                                    <table>
                                        <h1 class="m10 fs20 text-center">Followers</h1>
                                        <tr class="fs20 m20" id="table-header">
                                            <th class="fs20 m20">User</th>
                                            <th class="fs20 m20">Since</th>
                                        </tr>
                                        <%_ for(let x = 0; x < followers.length; x++) { %>
                                            <tr class="fs20 m20" id="<%= `entry-${ x + 1 }` %>">
                                                <td class="fs20 m20 form-search" id="<%= `level` %>">
                                                    <div class="flex">
                                                        <img src="<%= followers[x].pfp %>" />
                                                        <div class="grid">
                                                            <p class="fs15"><%= followers[x].name %></p>
                                                            <p class="fs15"><%= followers[x].username %></p>
                                                        </div>
                                                        <a href="/remove_friend?active=<%= followers[x].lead_user %>&passive=<%= followers[x].passive_user %>" class="fs20 m10 color-red">X</a>
                                                    </div>
                                                </td>
                                                <td class="fs20 m20">
                                                    <p class="fs15 color-green"><%= followers[x].creation_date %></p>
                                                </td>
                                            </tr>
                                        <%_ } %>
                                    </table>
                                <%_ } %>
                                <%_ if(following.length > 0) { %>
                                    <table>
                                        <h1 class="m10 fs20 text-center">following</h1>
                                        <tr class="fs20 m20" id="table-header">
                                            <th class="fs20 m20">User</th>
                                            <th class="fs20 m20">Since</th>
                                        </tr>
                                        <%_ for(let x = 0; x < following.length; x++) { %>
                                            <tr class="fs20 m20" id="<%= `entry-${ x + 1 }` %>">
                                                <td class="fs20 m20 form-search" id="<%= `level` %>">
                                                    <div class="flex">
                                                        <img src="<%= following[x].pfp %>" />
                                                        <div class="grid">
                                                            <p class="fs15"><%= following[x].name %></p>
                                                            <p class="fs15"><%= following[x].username %></p>
                                                        </div>
                                                        <a href="/remove_friend?active=<%= current_user.id %>&passive=<%= following[x].passive_user %>" class="fs20 m10 color-red">X</a>
                                                    </div>
                                                </td>
                                                <td class="fs20 m20">
                                                    <p class="fs15 color-green"><%= following[x].creation_date %></p>
                                                </td>
                                            </tr>
                                        <%_ } %>
                                    </table>
                                <%_ } %>
                            <%_ } %>
                        <%_ } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        $('.leaderboard-entry').css('background-image', `url(${ $('#leaderboard-img').text() })`)

        $('#link-profile').bind('click', () => {
            $('#link-history').css('background-color', 'black')
            $('#link-history').css('color', 'white')

            $('#profile-history').css('display', 'none')
            $('#profile-friends').css('display', 'none')
            $('#leaderboard-pane').css('display', 'flex')

            $('#link-profile').css('background-color', 'white')
            $('#link-profile').css('color', 'black')
            $('#profile-details').css('display', 'block')
            $('#link-friends').css('background-color', 'black')
            $('#link-friends').css('color', 'white')

            $(document).prop('title', `${ $('#title-prop').text() }'s Profile | ATC`)
        })

        $('#link-history').bind('click', () => {
            $('#link-history').css('background-color', 'white')
            $('#link-history').css('color', 'black')
            $('#profile-history').css('display', 'grid')

            $('#link-profile').css('background-color', 'black')
            $('#link-profile').css('color', 'white')
            $('#link-friends').css('background-color', 'black')
            $('#link-friends').css('color', 'white')

            $('#profile-details').css('display', 'none')
            $('#profile-friends').css('display', 'none')
            $('#leaderboard-pane').css('display', 'flex')

            $(document).prop('title', `${ $('#title-prop').text() }'s History | ATC`)
        })

        $('#link-friends').bind('click', () => {
            $('#link-friends').css('background-color', 'white')
            $('#link-friends').css('color', 'black')
            $('#profile-friends').css('display', 'grid')

            $('#link-profile').css('background-color', 'black')
            $('#link-profile').css('color', 'white')
            $('#link-history').css('background-color', 'black')
            $('#link-history').css('color', 'white')

            $('#profile-history').css('display', 'none')
            $('#profile-details').css('display', 'none')
            $('#leaderboard-pane').css('display', 'none')

            $(document).prop('title', `${ $('#title-prop').text() }'s Friends | ATC`)
        })

        $('#link-change-pfp').bind('click', () => {
            $('#link-change-pfp').css('display', 'none')
            $('#form-container-x').css('display', 'block')
        })
    </script>
</body>
</html>