<link rel="stylesheet" href="/private/css/framework.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .quick-actions {
        display: flex;
        justify-content: center;
    }
    .quick-actions a {
        background-color: black;
        color: white;
        padding: 5px 20px;
        border-radius: 35px;
        margin: 0px 10px;
        transition: ease-in-out;
        transition-duration: 1s;
    }
    .quick-actions a:hover {
        transition: ease-in-out;
        transition-duration: 1s;
        background-color: white;
        color: black;
    }
</style>
<%- include('navbar.ejs') -%>

<div class="quick-actions" style="margin-top: 20px;">
    <a href="/search?group=people">Find People</a>
    <a href="/search?group=levels">Find Levels</a>
</div>

<%_ if(group == 'people') { %>
    <h1 class="fs30 m20 text-center">Find People.</h1>
<%_ } %>
<%_ if(group == 'levels') { %>
    <h1 class="fs30 m20 text-center">Find Levels.</h1>
<%_ } %>

<section id="search" class="container p20 w85">
    <div class="inner-container">
        <form method="POST">
            <div class="flex">
                <input type="text" class="fs30 text-center color-green m20" name="query" value="<%= query %>"  placeholder="search..." >
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <%_ if(group == 'people') { %>
            <%_ if(foundUsers.length == 0) { %>
                <h1 class="fs20 m20 text-center">Results will show here.</h1>
            <%_ } else { %>
                <%_ for(let i in foundUsers { %>
                    <div class="flex">
                        <a href="/profile?id=<%= foundUsers[i]["id"] %>">
                        <img src="<%= foundUsers[i]["pfp"] %>" alt="<%= foundUsers[i]["name"].split(' ')[0] %>'s picture" class="fs15 text-center">
                            <div class="grid">
                                <h1 class="fs20 text-center"><%= foundUsers[i]["name"] %></h1>
                                <p class="fs15 text-center"><%= foundUsers[i]["username"] %></p>
                            </div>
                        </a>
                        <a href="/add_friend?id=<%= foundUsers[i]["id"] %>">+</a>
                    </div>
                <%_ } %>
            <%_ } %>
        <%_ } %>

        <%_ if(group == 'levels') { %>
            <%_ if(foundLevels == "[]") { %>
                <h1 class="fs20 m20 text-center">Results will show here.</h1>
            <%_ } else { %>
                <%_ for(let i in foundLevels) { %>
                    <div class="flex">
                        <a href="/level?name=<%= foundLevels[i]["airport_name"] %>">
                        <img src="<%= foundLevels[i]["image_reference"] %>" alt="<%= foundLevels[i]["airport_name"]%>" class="fs15 text-center">
                            <div class="grid">
                                <h1 class="fs20 text-center"><%= foundLevels[i]["airport_name"] %></h1>
                            </div>
                        </a>
                    </div>
                <%_ } %>
            <%_ } %>
        <%_ } %>
    </div>
</section>